<div class="container">
	<div class="navbaro">
		<div class="hamburger-menu">
			<div class="line line-1 text-primary"></div>
			<div class="line line-2"></div>
			<div class="line line-3"></div>
		</div>
		<ul class="navo-list">
			<li class="navo-item">
				<a href="/downloadmenu" class="navo-link"><i class="fas fa-download"></i>
					<em class="ml-2"></em>Downloader</a>
			</li>
			<li class="navo-item">
                    <a href="/animemenu" class="navo-link"><i class="fas fa-cat"></i>
                        <em class="ml-2"></em>Anime Menu</a>
                </li>
			<li class="navo-item">
				<a href="/randommenu" class="navo-link"><i class="fas fa-random"></i>
					<em class="ml-2"></em>Random</a>
			</li>
			<li class="navo-item">
				<a href="/makermenu" class="navo-link"><i class="far fa-image"></i>
					<em class="ml-2"></em>Photooxy/Textpro</a>
			</li>
			<li class="navo-item">
				<a href="/primbonmenu" class="navo-link"><i class="far fa-smile"></i>
					<em class="ml-2"></em>Primbon</a>
			</li>  
			<li class="navo-item">
				<a href="/othermenu" class="navo-link"><i class="fa fa-plus-circle"></i>
					<em class="ml-2"></em>Other</a>
			</li>
		</ul>
	</div>
</div> 

<section class="py-5">

</section>
<section class="py-5 bg-dark">
    <div class="container">
        <div class="row">
            <div class="mx-auto text-center">
                <h2 class="heading-black text-primary">PhotoOxy Menu</h2>
                <p class="text-muted lead" style="font-style: italic;">List Photooxy Effect</p>
            </div>
        </div>
        <div class="row justify-content-center" style="font-size: 14px;">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Features</h4>
                    </div>
                    <div class="card-body pt-2 text-center">
                        <div style="overflow-x:auto !important;">
                            <table class="table mb-0" style="width: 100% !important;">
                                <thead class="text-primary">
                                    <tr>
                                        <th scope="col">API NAME</th>
                                        <th scope="col">PARAMETER</th>
                                        <th scope="col">STATUS</th>
                                        <th scope="col">INFORMATION</th>
                                        <th scope="col">ACTION</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Poly (MP4)</td>
                                        <td>text & apikey</td>
                                        <td><div class="text-primary">
                                            <i class="fas fa-check fa-sm"></i>
                                        </div></td>
                                        <td>Make Poly Slide</td>
                                        <td>
                                            <a class="btn btn-primary btn-sm" href="/api/oxy/poly?text=aria api&apikey=<%= apikey %>" target="_blank">
                                                Try</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Bold (MP4)</td>
                                        <td>text & apikey</td>
                                        <td><div class="text-primary">
                                            <i class="fas fa-check fa-sm"></i>
                                        </div></td>
                                        <td>Make Bold Slide</td>
                                        <td>
                                            <a class="btn btn-primary btn-sm" href="/api/oxy/bold?text=aria api&apikey=<%= apikey %>" target="_blank">
                                                Try</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Colorful (MP4)</td>
                                        <td>text & apikey</td>
                                        <td><div class="text-primary">
                                            <i class="fas fa-check fa-sm"></i>
                                        </div></td>
                                        <td>Make Colorful Slide</td>
                                        <td>
                                            <a class="btn btn-primary btn-sm" href="/api/oxy/colorful?text=aria api&apikey=<%= apikey %>" target="_blank">
                                                Try</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Army (MP4)</td>
                                        <td>text & apikey</td>
                                        <td><div class="text-primary">
                                            <i class="fas fa-check fa-sm"></i>
                                        </div></td>
                                        <td>Make Army Slide</td>
                                        <td>
                                            <a class="btn btn-primary btn-sm" href="/api/oxy/army?text=aria api&apikey=<%= apikey %>" target="_blank">
                                                Try</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Retro (MP4)</td>
                                        <td>text & apikey</td>
                                        <td><div class="text-primary">
                                            <i class="fas fa-check fa-sm"></i>
                                        </div></td>
                                        <td>Make Retro Slide</td>
                                        <td>
                                            <a class="btn btn-primary btn-sm" href="/api/oxy/retro?text=aria api&apikey=<%= apikey %>" target="_blank">
                                                Try</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Shadow</td>
                                        <td>text & apikey</td>
                                        <td><div class="text-primary">
                                            <i class="fas fa-check fa-sm"></i>
                                        </div></td>
                                        <td>Make Shadow Text</td>
                                        <td>
                                            <a class="btn btn-primary btn-sm" href="/api/oxy/shadow?text=aria&apikey=<%= apikey %>" target="_blank">
                                                Try</a>
                                        </td>
                                    </tr>                                   
                                    <tr>
                                        <td>Banner</td>
                                        <td>text & apikey</td>
                                        <td><div class="text-primary">
                                            <i class="fas fa-check fa-sm"></i>
                                        </div></td>
                                        <td>Make Banner Text</td>
                                        <td>
                                            <a class="btn btn-primary btn-sm" href="/api/oxy/banner?text=Aria%20Rest%20Api&apikey=<%= apikey %>" target="_blank">
                                                Try</a>
                                        </td>
                                    </tr>   
                                    <tr>
                                        <td>Flaming</td>
                                        <td>text & apikey</td>
                                        <td><div class="text-primary">
                                            <i class="fas fa-check fa-sm"></i>
                                        </div></td>
                                        <td>Make Flaming Text</td>
                                        <td>
                                            <a class="btn btn-primary btn-sm" href="/api/oxy/flaming?text=aria&apikey=<%= apikey %>" target="_blank">
                                                Try</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Rainbow</td>
                                        <td>text & apikey</td>
                                        <td><div class="text-primary">
                                            <i class="fas fa-check fa-sm"></i>
                                        </div></td>
                                        <td>Make Rainbow Text</td>
                                        <td>
                                            <a class="btn btn-primary btn-sm" href="/api/oxy/rainbow?text=aria&apikey=<%= apikey %>" target="_blank">
                                                Try</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Smoke</td>
                                        <td>text & apikey</td>
                                        <td><div class="text-primary">
                                            <i class="fas fa-check fa-sm"></i>
                                        </div></td>
                                        <td>Make Smoke Text</td>
                                        <td>
                                            <a class="btn btn-primary btn-sm" href="/api/oxy/love?text=aria&apikey=<%= apikey %>" target="_blank">
                                                Try</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Double Love</td>
                                        <td>text & apikey</td>
                                        <td><div class="text-primary">
                                            <i class="fas fa-check fa-sm"></i>
                                        </div></td>
                                        <td>Make Love Text</td>
                                        <td>
                                            <a class="btn btn-primary btn-sm" href="/api/oxy/love?text=Aria&apikey=<%= apikey %>" target="_blank">
                                                Try</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Wood</td>
                                        <td>text & apikey</td>
                                        <td><div class="text-primary">
                                            <i class="fas fa-check fa-sm"></i>
                                        </div></td>
                                        <td>Make Wood Text</td>
                                        <td>
                                            <a class="btn btn-primary btn-sm" href="/api/oxy/wood?text=aria&apikey=<%= apikey %>" target="_blank">
                                                Try</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Coffee</td>
                                        <td>text & apikey</td>
                                        <td><div class="text-primary">
                                            <i class="fas fa-check fa-sm"></i>
                                        </div></td>
                                        <td>Make Coffee Text</td>
                                        <td>
                                            <a class="btn btn-primary btn-sm" href="/api/oxy/coffee?text=Aria&apikey=<%= apikey %>" target="_blank">
                                                Try</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Stars</td>
                                        <td>text & apikey</td>
                                        <td><div class="text-primary">
                                            <i class="fas fa-check fa-sm"></i>
                                        </div></td>
                                        <td>Make Stars Text</td>
                                        <td>
                                            <a class="btn btn-primary btn-sm" href="/api/oxy/stars?text=Aria&apikey=<%= apikey %>" target="_blank">
                                                Try</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Butterfly</td>
                                        <td>text & apikey</td>
                                        <td><div class="text-primary">
                                            <i class="fas fa-check fa-sm"></i>
                                        </div></td>
                                        <td>Make Butterfly Text</td>
                                        <td>
                                            <a class="btn btn-primary btn-sm" href="/api/oxy/butterfly?text=Aria&apikey=<%= apikey %>" target="_blank">
                                                Try</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Summer</td>
                                        <td>text & apikey</td>
                                        <td><div class="text-primary">
                                            <i class="fas fa-check fa-sm"></i>
                                        </div></td>
                                        <td>Make Summer Text</td>
                                        <td>
                                            <a class="btn btn-primary btn-sm" href="/api/oxy/summer?text=Aria&apikey=<%= apikey %>" target="_blank">
                                                Try</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Candy</td>
                                        <td>text & apikey</td>
                                        <td><div class="text-primary">
                                            <i class="fas fa-check fa-sm"></i>
                                        </div></td>
                                        <td>Make Candy Text</td>
                                        <td>
                                            <a class="btn btn-primary btn-sm" href="/api/oxy/candy?text=Aria&apikey=<%= apikey %>" target="_blank">
                                                Try</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Royal</td>
                                        <td>text & apikey</td>
                                        <td><div class="text-primary">
                                            <i class="fas fa-check fa-sm"></i>
                                        </div></td>
                                        <td>Make Royal Text</td>
                                        <td>
                                            <a class="btn btn-primary btn-sm" href="/api/oxy/royal?text=Aria&apikey=<%= apikey %>" target="_blank">
                                                Try</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Underwater</td>
                                        <td>text & apikey</td>
                                        <td><div class="text-primary">
                                            <i class="fas fa-check fa-sm"></i>
                                        </div></td>
                                        <td>Make Underwater Text</td>
                                        <td>
                                            <a class="btn btn-primary btn-sm" href="/api/oxy/underwater?text=Aria&apikey=<%= apikey %>" target="_blank">
                                                Try</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Burn Paper</td>
                                        <td>text & apikey</td>
                                        <td><div class="text-primary">
                                            <i class="fas fa-check fa-sm"></i>
                                        </div></td>
                                        <td>Make Burn Paper Text</td>
                                        <td>
                                            <a class="btn btn-primary btn-sm" href="api//oxy/paper?text=Aria&apikey=<%= apikey %>" target="_blank">
                                                Try</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Fur</td>
                                        <td>text & apikey</td>
                                        <td><div class="text-primary">
                                            <i class="fas fa-check fa-sm"></i>
                                        </div></td>
                                        <td>Make Fur Text</td>
                                        <td>
                                            <a class="btn btn-primary btn-sm" href="/api/oxy/fur?text=Aria&apikey=<%= apikey %>" target="_blank">
                                                Try</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <section class="py-4"></section>
        <div class="row">
            <div class="col-md-8 divider top-divider mx-auto pt-3">
            </div>
            <div class="mx-auto text-center">
                <h2 class="heading-black text-primary">TextPro Documentation</h2>
                <p class="text-muted lead" style="font-style: italic;">List TextPro API</p>
            </div>
        </div>
        <div class="row justify-content-center" style="font-size: 14px;">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Features</h4>
                    </div>
                    <div class="card-body pt-2 text-center">
                        <div style="overflow-x:auto !important;">
                            <table class="table mb-0" style="width: 100% !important;">
                                <thead class="text-primary">
                                    <tr>
                                        <th scope="col">API NAME</th>
                                        <th scope="col">PARAMETER</th>
                                        <th scope="col">STATUS</th>
                                        <th scope="col">INFORMATION</th>
                                        <th scope="col">ACTION</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Neon Text</td>
                                        <td>text & apikey</td>
                                        <td><div class="text-primary">
                                            <i class="fas fa-check fa-sm"></i>
                                        </div></td>
                                        <td>Make Neon Text</td>
                                        <td>
                                            <a class="btn btn-primary btn-sm" href="/api/textpro/neon?text=Aria&apikey=<%= apikey %>" target="_blank">
                                                Try</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Devil Wings</td>
                                        <td>text & apikey</td>
                                        <td><div class="text-primary">
                                            <i class="fas fa-check fa-sm"></i>
                                        </div></td>
                                        <td>Make Devil Wings Text</td>
                                        <td>
                                            <a class="btn btn-primary btn-sm" href="/api/textpro/devil?text=Aria&apikey=<%= apikey %>" target="_blank">
                                                Try</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Transformers</td>
                                        <td>text & apikey</td>
                                        <td><div class="text-primary">
                                            <i class="fas fa-check fa-sm"></i>
                                        </div></td>
                                        <td>Make Transformers Text</td>
                                        <td>
                                            <a class="btn btn-primary btn-sm" href="/api/textpro/transformers?text=Aria&apikey=<%= apikey %>" target="_blank">
                                                Try</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Thunders Logo</td>
                                        <td>text & apikey</td>
                                        <td><div class="text-primary">
                                            <i class="fas fa-check fa-sm"></i>
                                        </div></td>
                                        <td>Make Thunders Text</td>
                                        <td>
                                            <a class="btn btn-primary btn-sm" href="/api/textpro/thunder?text=Aria&apikey=<%= apikey %>" target="_blank">
                                                Try</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Graffiti</td>
                                        <td>text & apikey</td>
                                        <td><div class="text-primary">
                                            <i class="fas fa-check fa-sm"></i>
                                        </div></td>
                                        <td>Make Graffiti Text</td>
                                        <td>
                                            <a class="btn btn-primary btn-sm" href="/api/textpro/graffiti?text=Aria&text2=Api&apikey=<%= apikey %>" target="_blank">
                                                Try</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Harry Potter</td>
                                        <td>text & apikey</td>
                                        <td><div class="text-primary">
                                            <i class="fas fa-check fa-sm"></i>
                                        </div></td>
                                        <td>Make Harry Potter Text</td>
                                        <td>
                                            <a class="btn btn-primary btn-sm" href="/api/textpro/harry?text=Aria Api&apikey=<%= apikey %>" target="_blank">
                                                Try</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>BlackPink</td>
                                        <td>text & apikey</td>
                                        <td><div class="text-primary">
                                            <i class="fas fa-check fa-sm"></i>
                                        </div></td>
                                        <td>Make BlackPink Text</td>
                                        <td>
                                            <a class="btn btn-primary btn-sm" href="/api/textpro/blackpink?text=Aria&apikey=<%= apikey %>" target="_blank">
                                                Try</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Joker Logo</td>
                                        <td>text & apikey</td>
                                        <td><div class="text-primary">
                                            <i class="fas fa-check fa-sm"></i>
                                        </div></td>
                                        <td>Make Joker Logo Text</td>
                                        <td>
                                            <a class="btn btn-primary btn-sm" href="/api/textpro/joker?text=Aria&apikey=<%= apikey %>" target="_blank">
                                                Try</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Matrix</td>
                                        <td>text & apikey</td>
                                        <td><div class="text-primary">
                                            <i class="fas fa-check fa-sm"></i>
                                        </div></td>
                                        <td>Make Matrix Text</td>
                                        <td>
                                            <a class="btn btn-primary btn-sm" href="/api/textpro/matrix?text=Aria&apikey=<%= apikey %>" target="_blank">
                                                Try</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>3D Text</td>
                                        <td>text & apikey</td>
                                        <td><div class="text-primary">
                                            <i class="fas fa-check fa-sm"></i>
                                        </div></td>
                                        <td>Make 3D Text</td>
                                        <td>
                                            <a class="btn btn-primary btn-sm" href="/api/textpro/3d?text=Aria Api&apikey=<%= apikey %>" target="_blank">
                                                Try</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <section class="py-4"></section>
        <div class="row">
            <div class="col-md-8 divider top-divider mx-auto pt-3">
            </div>
            <div class="mx-auto text-center">
                <h2 class="heading-black text-primary">Canvas Documentation</h2>
                <p class="text-muted lead" style="font-style: italic;">List Canvas API</p>
            </div>
        </div>
        <div class="row justify-content-center" style="font-size: 14px;">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Features</h4>
                    </div>
                    <div class="card-body pt-2 text-center">
                        <div style="overflow-x:auto !important;">
                            <table class="table mb-0" style="width: 100% !important;">
                                <thead class="text-primary">
                                    <tr>
                                        <th scope="col">API NAME</th>
                                        <th scope="col">PARAMETER</th>
                                        <th scope="col">STATUS</th>
                                        <th scope="col">INFORMATION</th>
                                        <th scope="col">ACTION</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Trigger</td>
                                        <td>url & apikey</td>
                                        <td><div class="text-primary">
                                            <i class="fas fa-check fa-sm"></i>
                                        </div></td>
                                        <td>Maker Triggered Image</td>
                                        <td>
                                            <a class="btn btn-primary btn-sm" href="/api/trigger?url=https://telegra.ph/file/981040ed40876d1c0aaa6.png&apikey=<%= apikey %>" target="_blank">
                                                Try</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Wanted</td>
                                        <td>url & apikey</td>
                                        <td><div class="text-primary">
                                            <i class="fas fa-check fa-sm"></i>
                                        </div></td>
                                        <td>Make Wanted Image</td>
                                        <td>
                                            <a class="btn btn-primary btn-sm" href="/api/wanted?url=https://telegra.ph/file/981040ed40876d1c0aaa6.png&apikey=<%= apikey %>" target="_blank">
                                                Try</a>
                                        </td>
                                    </tr>          
                                    <tr>
                                    <td>Gay2</td>
									<td>url&apikey</td>
									<td><div class="text-primary">
										<i class="fas fa-check fa-sm"></i>
									</div></td>
									<td>Gay2</td>
									<td>
										<a class="btn btn-primary btn-sm" href="/api/imgedit/gay2?url=https://i.ibb.co/rHSgTp7/IMG20210514104042.jpg&apikey=<%= apikey %>" target="_blank">
											Try</a>
									</td>
								</tr>
								<tr>
								<td>Komunis</td>
									<td>url&apikey</td>
									<td><div class="text-primary">
										<i class="fas fa-check fa-sm"></i>
									</div></td>
									<td>komunis</td>
									<td>
										<a class="btn btn-primary btn-sm" href="/api/imgedit/komunis?url=https://i.ibb.co/rHSgTp7/IMG20210514104042.jpg&apikey=<%= apikey %>" target="_blank">
											Try</a>
									</td>
								</tr>
								<tr>
								<td>Hitler</td>
									<td>url&apikey</td>
									<td><div class="text-primary">
										<i class="fas fa-check fa-sm"></i>
									</div></td>
									<td>Hitler</td>
									<td>
										<a class="btn btn-primary btn-sm" href="/api/imgedit/hitler?url=https://i.ibb.co/rHSgTp7/IMG20210514104042.jpg&apikey=<%= apikey %>" target="_blank">
											Try</a>
									</td>
								</tr>
								<tr>
								<td>crush</td>
									<td>url&apikey</td>
									<td><div class="text-primary">
										<i class="fas fa-check fa-sm"></i>
									</div></td>
									<td>crush</td>
									<td>
										<a class="btn btn-primary btn-sm" href="/api/crush?url=https://i.ibb.co/rHSgTp7/IMG20210514104042.jpg&apikey=<%= apikey %>" target="_blank">
											Try</a>
									</td>
								</tr>
								<tr>
								<td>approved</td>
									<td>url&apikey</td>
									<td><div class="text-primary">
										<i class="fas fa-check fa-sm"></i>
									</div></td>
									<td>approved</td>
									<td>
										<a class="btn btn-primary btn-sm" href="/api/approved?url=https://i.ibb.co/rHSgTp7/IMG20210514104042.jpg&apikey=<%= apikey %>" target="_blank">
											Try</a>
									</td>
								</tr>
								<tr>
								<td>airpods</td>
									<td>url&apikey</td>
									<td><div class="text-primary">
										<i class="fas fa-check fa-sm"></i>
									</div></td>
									<td>airpods</td>
									<td>
										<a class="btn btn-primary btn-sm" href="/api/airpods?url=https://i.ibb.co/rHSgTp7/IMG20210514104042.jpg&apikey=<%= apikey %>" target="_blank">
											Try</a>
									</td>
								</tr>
								<tr>
								<td>meth</td>
									<td>url&apikey</td>
									<td><div class="text-primary">
										<i class="fas fa-check fa-sm"></i>
									</div></td>
									<td>meth</td>
									<td>
										<a class="btn btn-primary btn-sm" href="/api/meth?url=&apikey=<%= apikey %>" target="_blank">
											Try</a>
									</td>
								</tr>
								<tr>
								<td>bjp</td>
									<td>url&apikey</td>
									<td><div class="text-primary">
										<i class="fas fa-check fa-sm"></i>
									</div></td>
									<td>bjp</td>
									<td>
										<a class="btn btn-primary btn-sm" href="/api/bjp?url=&apikey=<%= apikey %>" target="_blank">
											Try</a>
									</td>
								</tr>
								<tr>
								<td>stonk</td>
									<td>url&apikey</td>
									<td><div class="text-primary">
										<i class="fas fa-check fa-sm"></i>
									</div></td>
									<td>stonk</td>
									<td>
										<a class="btn btn-primary btn-sm" href="/api/?stonkurl=&apikey=<%= apikey %>" target="_blank">
											Try</a>
									</td>
								</tr>
								<tr>
								<td>notstonk</td>
									<td>url&apikey</td>
									<td><div class="text-primary">
										<i class="fas fa-check fa-sm"></i>
									</div></td>
									<td>notstonk</td>
									<td>
										<a class="btn btn-primary btn-sm" href="/api/notstonk?url=&apikey=<%= apikey %>" target="_blank">
											Try</a>
									</td>
								</tr>
								<tr>
								<td>poutine</td>
									<td>apikey</td>
									<td><div class="text-primary">
										<i class="fas fa-check fa-sm"></i>
									</div></td>
									<td>poutine</td>
									<td>
										<a class="btn btn-primary btn-sm" href="/api/poutine?url=&apikey=<%= apikey %>" target="_blank">
											Try</a>
									</td>
								</tr>
								<tr>
								<td>spank</td>
									<td>url&apikey</td>
									<td><div class="text-primary">
										<i class="fas fa-check fa-sm"></i>
									</div></td>
									<td>spank</td>
									<td>
										<a class="btn btn-primary btn-sm" href="/api/spank?url=&apikey=<%= apikey %>" target="_blank">
											Try</a>
									</td>
								</tr>
								<tr>
								<td>what</td>
									<td>url&apikey</td>
									<td><div class="text-primary">
										<i class="fas fa-check fa-sm"></i>
									</div></td>
									<td>what</td>
									<td>
										<a class="btn btn-primary btn-sm" href="/api/what?url=&apikey=<%= apikey %>" target="_blank">
											Try</a>
									</td>
								</tr>
								<tr>
								<td>kiss</td>
									<td>url&apikey</td>
									<td><div class="text-primary">
										<i class="fas fa-check fa-sm"></i>
									</div></td>
									<td>kiss</td>
									<td>
										<a class="btn btn-primary btn-sm" href="/api/kiss?url=&apikey=<%= apikey %>" target="_blank">
											Try</a>
									</td>
								</tr>
								<tr>
									<td>linus</td>
									<td>apikey</td>
									<td><div class="text-primary">
										<i class="fas fa-check fa-sm"></i>
									</div></td>
									<td>linus</td>
									<td>
										<a class="btn btn-primary btn-sm" href="/api/linus?url=masukan_link&apikey=<%= apikey %>" target="_blank">
											Try</a>
									</td>
								</tr>
								<tr>
								<td>ad</td>
									<td>url&apikey</td>
									<td><div class="text-primary">
										<i class="fas fa-check fa-sm"></i>
									</div></td>
									<td>ad</td>
									<td>
										<a class="btn btn-primary btn-sm" href="/api/ad?url=&apikey=<%= apikey %>" target="_blank">
											Try</a>
									</td>
								</tr>
								<tr>
								<td>bobross</td>
									<td>url&apikey</td>
									<td><div class="text-primary">
										<i class="fas fa-check fa-sm"></i>
									</div></td>
									<td>bobross</td>
									<td>
										<a class="btn btn-primary btn-sm" href="/api/bobross?url=&apikey=<%= apikey %>" target="_blank">
											Try</a>
									</td>
								</tr>
								<tr>
								<td>hitler</td>
									<td>url&apikey</td>
									<td><div class="text-primary">
										<i class="fas fa-check fa-sm"></i>
									</div></td>
									<td>hitler</td>
									<td>
										<a class="btn btn-primary btn-sm" href="/api/hitler?url=&apikey=<%= apikey %>" target="_blank">
											Try</a>
									</td>
								</tr>
								<tr>
								<td>mms</td>
									<td>url&apikey</td>
									<td><div class="text-primary">
										<i class="fas fa-check fa-sm"></i>
									</div></td>
									<td>mms</td>
									<td>
										<a class="btn btn-primary btn-sm" href="/api/mms?url=&apikey=<%= apikey %>" target="_blank">
											Try</a>
									</td>
								</tr>
								<tr>
								<td>tatoo</td>
									<td>url&apikey</td>
									<td><div class="text-primary">
										<i class="fas fa-check fa-sm"></i>
									</div></td>
									<td>tatoo</td>
									<td>
										<a class="btn btn-primary btn-sm" href="/api/tatoo?url=&apikey=<%= apikey %>" target="_blank">
											Try</a>
									</td>
								</tr>
								<tr>
								<td>beautiful</td>
									<td>url&apikey</td>
									<td><div class="text-primary">
										<i class="fas fa-check fa-sm"></i>
									</div></td>
									<td>beautiful</td>
									<td>
										<a class="btn btn-primary btn-sm" href="/api/beautiful?url=&apikey=<%= apikey %>" target="_blank">
											Try</a>
									</td>
								</tr>
								<tr>
								<td>blur</td>
									<td>url&apikey</td>
									<td><div class="text-primary">
										<i class="fas fa-check fa-sm"></i>
									</div></td>
									<td>blur</td>
									<td>
										<a class="btn btn-primary btn-sm" href="/api/blur?url=&apikey=<%= apikey %>" target="_blank">
											Try</a>
									</td>
								</tr>
								<tr>
								<td>karaba</td>
									<td>img&apikey</td>
									<td><div class="text-primary">
										<i class="fas fa-check fa-sm"></i>
									</div></td>
									<td>karaba</td>
									<td>
										<a class="btn btn-primary btn-sm" href="/api/karaba?url=&apikey=<%= apikey %>" target="_blank">
											Try</a>
									</td>
								</tr>
								<tr>
								<td>facepalm</td>
									<td>url&apikey</td>
									<td><div class="text-primary">
										<i class="fas fa-check fa-sm"></i>
									</div></td>
									<td>facepalm</td>
									<td>
										<a class="btn btn-primary btn-sm" href="/api/facepalm?url=&apikey=<%= apikey %>" target="_blank">
											Try</a>
									</td>
								</tr>
								<tr>
								<td>captcha</td>
									<td>url&apikey</td>
									<td><div class="text-primary">
										<i class="fas fa-check fa-sm"></i>
									</div></td>
									<td>captcha</td>
									<td>
										<a class="btn btn-primary btn-sm" href="/api/captcha?url=&apikey=<%= apikey %>" target="_blank">
											Try</a>
									</td>
								</tr>
								<tr>
								<td>confusedstonk</td>
									<td>url&apikey</td>
									<td><div class="text-primary">
										<i class="fas fa-check fa-sm"></i>
									</div></td>
									<td>confusedstonk</td>
									<td>
										<a class="btn btn-primary btn-sm" href="/api/confusedstonk?url=&apikey=<%= apikey %>" target="_blank">
											Try</a>
									</td>
								</tr>
								<tr>
								<td>bed</td>
									<td>url&apikey</td>
									<td><div class="text-primary">
										<i class="fas fa-check fa-sm"></i>
									</div></td>
									<td>bed</td>
									<td>
										<a class="btn btn-primary btn-sm" href="/api/bed?url=&apikey=<%= apikey %>" target="_blank">
											Try</a>
									</td>
								</tr>
								<tr>
								<td>deletee</td>
									<td>url&apikey</td>
									<td><div class="text-primary">
										<i class="fas fa-check fa-sm"></i>
									</div></td>
									<td>deletee</td>
									<td>
										<a class="btn btn-primary btn-sm" href="/api/delete?url=&apikey=<%= apikey %>" target="_blank">
											Try</a>
									</td>
								</tr>
								<tr>
								<td>doublestonk</td>
									<td>url&apikey</td>
									<td><div class="text-primary">
										<i class="fas fa-check fa-sm"></i>
									</div></td>
									<td>doublestonk</td>
									<td>
										<a class="btn btn-primary btn-sm" href="/api/doublestonk?url=&apikey=<%= apikey %>" target="_blank">
											Try</a>
									</td>
								</tr>
								<tr>
								<td>Discord Blue</td>
									<td>url&apikey</td>
									<td><div class="text-primary">
										<i class="fas fa-check fa-sm"></i>
									</div></td>
									<td>Blue</td>
									<td>
										<a class="btn btn-primary btn-sm" href="/api/imgedit/discordblue?url=&apikey=<%= apikey %>" target="_blank">
											Try</a>
									</td>
								</tr>
								<tr>
								<td>Discord Black</td>
									<td>url&apikey</td>
									<td><div class="text-primary">
										<i class="fas fa-check fa-sm"></i>
									</div></td>
									<td>Black</td>
									<td>
										<a class="btn btn-primary btn-sm" href="/api/imgedit/discordblue?url=&apikey=<%= apikey %>" target="_blank">
											Try</a>
									</td>
								</tr>
								<tr>
								<td>Circle</td>
									<td>url&apikey</td>
									<td><div class="text-primary">
										<i class="fas fa-check fa-sm"></i>
									</div></td>
									<td>jahy</td>
									<td>
										<a class="btn btn-primary btn-sm" href="/api/imgedit/circle?url=&apikey=<%= apikey %>" target="_blank">
											Try</a>
									</td>
								</tr>
								<tr>
								<td>Captcha</td>
									<td>url&apikey</td>
									<td><div class="text-primary">
										<i class="fas fa-check fa-sm"></i>
									</div></td>
									<td>captcha</td>
									<td>
										<a class="btn btn-primary btn-sm" href="/api/imgedit/captcha?url=&apikey=<%= apikey %>" target="_blank">
											Try</a>
									</td>
								</tr>
								<tr>
								<td>Police</td>
									<td>apikey</td>
									<td><div class="text-primary">
										<i class="fas fa-check fa-sm"></i>
									</div></td>
									<td>police</td>
									<td>
										<a class="btn btn-primary btn-sm" href="/api/imgedit/police?url=&apikey=<%= apikey %>" target="_blank">
											Try</a>
									</td>
								</tr>
								<tr>
								<td>Continued</td>
									<td>url&apikey</td>
									<td><div class="text-primary">
										<i class="fas fa-check fa-sm"></i>
									</div></td>
									<td>continued</td>
									<td>
										<a class="btn btn-primary btn-sm" href="/api/imgedit/continued?url=&apikey=<%= apikey %>" target="_blank">
											Try</a>
									</td>
								</tr>
								<tr>
								<td>Putin</td>
									<td>url&apikey</td>
									<td><div class="text-primary">
										<i class="fas fa-check fa-sm"></i>
									</div></td>
									<td>putin</td>
									<td>
										<a class="btn btn-primary btn-sm" href="/api/imgedit/putin?url=&apikey=<%= apikey %>" target="_blank">
											Try</a>
									</td>
								</tr>
								<tr>
								<td>Peti mati</td>
									<td>url&apikey</td>
									<td><div class="text-primary">
										<i class="fas fa-check fa-sm"></i>
									</div></td>
									<td>peti mati</td>
									<td>
										<a class="btn btn-primary btn-sm" href="/api/imgedit/petimati?url=&apikey=<%= apikey %>" target="_blank">
											Try</a>
									</td>
								</tr>
								<tr>
									<td>Presentasi</td>
									<td>text&apikey</td>
									<td><div class="text-primary">
										<i class="fas fa-check fa-sm"></i>
									</div></td>
									<td>presentasi</td>
									<td>
										<a class="btn btn-primary btn-sm" href="/api/imgedit/presentasi?text=anak kntl&apikey=<%= apikey %>" target="_blank">
											Try</a>
									</td>
								</tr>
								<tr>
								<td>Penjara</td>
									<td>url&apikey</td>
									<td><div class="text-primary">
										<i class="fas fa-check fa-sm"></i>
									</div></td>
									<td>penjara</td>
									<td>
										<a class="btn btn-primary btn-sm" href="/api/imgedit/penjara?url=&apikey=<%= apikey %>" target="_blank">
											Try</a>
									</td>
								</tr>
								<tr>
								<td>wasted2</td>
									<td>url&apikey</td>
									<td><div class="text-primary">
										<i class="fas fa-check fa-sm"></i>
									</div></td>
									<td>wasted2</td>
									<td>
										<a class="btn btn-primary btn-sm" href="/api/imgedit/wasted?url=&apikey=<%= apikey %>" target="_blank">
											Try</a>
									</td>
								</tr>
								<tr>
								<td>greyscale</td>
									<td>url&apikey</td>
									<td><div class="text-primary">
										<i class="fas fa-check fa-sm"></i>
									</div></td>
									<td>greyscale</td>
									<td>
										<a class="btn btn-primary btn-sm" href="/api/imgedit/greyscale?url=&apikey=<%= apikey %>" target="_blank">
											Try</a>
									</td>
								</tr>
								<tr>
								<td>invert</td>
									<td>url&apikey</td>
									<td><div class="text-primary">
										<i class="fas fa-check fa-sm"></i>
									</div></td>
									<td>invert</td>
									<td>
										<a class="btn btn-primary btn-sm" href="/api/imgedit/invert?url=&apikey=<%= apikey %>" target="_blank">
											Try</a>
									</td>
								</tr>
								<tr>
								<td>brightness</td>
									<td>url&apikey</td>
									<td><div class="text-primary">
										<i class="fas fa-check fa-sm"></i>
									</div></td>
									<td>brightness</td>
									<td>
										<a class="btn btn-primary btn-sm" href="/api/imgedit/brightness?url=&apikey=<%= apikey %>" target="_blank">
											Try</a>
									</td>
								</tr>
								<tr>
								<td>glass</td>
									<td>url&apikey</td>
									<td><div class="text-primary">
										<i class="fas fa-check fa-sm"></i>
									</div></td>
									<td>glass</td>
									<td>
										<a class="btn btn-primary btn-sm" href="/api/imgedit/glass?url=&apikey=<%= apikey %>" target="_blank">
											Try</a>
									</td>
								</tr>
								<tr>
								<td>sepia</td>
									<td>url&apikey</td>
									<td><div class="text-primary">
										<i class="fas fa-check fa-sm"></i>
									</div></td>
									<td>sepia</td>
									<td>
										<a class="btn btn-primary btn-sm" href="/api/imgedit/sepia?url=&apikey=<%= apikey %>" target="_blank">
											Try</a>
									</td>
								</tr>
								<tr>
								<td>enhance=</td>
									<td>img&apikey</td>
									<td><div class="text-primary">
										<i class="fas fa-check fa-sm"></i>
									</div></td>
									<td>enhance</td>
									<td>
										<a class="btn btn-primary btn-sm" href="/api/imgedit/enhance&img=&apikey=<%= apikey %>" target="_blank">
											Try</a>
									</td>
								</tr>
								<tr>
								<td>gay</td>
									<td>url&apikey</td>
									<td><div class="text-primary">
										<i class="fas fa-check fa-sm"></i>
									</div></td>
									<td>gay</td>
									<td>
										<a class="btn btn-primary btn-sm" href="/api/imgedit/gay?url=&apikey=<%= apikey %>" target="_blank">
											Try</a>
									</td>
								</tr>
								<tr>
                                        <td>Wasted</td>
                                        <td>url & apikey</td>
                                        <td><div class="text-primary">
                                            <i class="fas fa-check fa-sm"></i>
                                        </div></td>
                                        <td>Make Wasted Image</td>
                                        <td>
                                            <a class="btn btn-primary btn-sm" href="/api/wasted?url=https://telegra.ph/file/981040ed40876d1c0aaa6.png&apikey=<%= apikey %>" target="_blank">
                                                Try</a>
                                        </td>
                                    </tr>              
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>
