<div class="container">
	<div class="navbaro">
		<div class="hamburger-menu">
			<div class="line line-1 text-primary"></div>
			<div class="line line-2"></div>
			<div class="line line-3"></div>
		</div>
		<ul class="navo-list">
			<li class="navo-item">
				<a href="/downloadmenu" class="navo-link"><i class="fas fa-download"></i>
					<em class="ml-2"></em>Downloader</a>
			</li>
			                <li class="navo-item">
                    <a href="/animemenu" class="navo-link"><i class="fas fa-cat"></i>
                        <em class="ml-2"></em>Anime Menu</a>
                </li>
			<li class="navo-item">
				<a href="/randommenu" class="navo-link"><i class="fas fa-random"></i>
					<em class="ml-2"></em>Random</a>
			</li>
			<li class="navo-item">
				<a href="/makermenu" class="navo-link"><i class="far fa-image"></i>
					<em class="ml-2"></em>Photooxy/Textpro</a>
			</li>
			<li class="navo-item">
				<a href="/primbonmenu" class="navo-link"><i class="far fa-smile"></i>
					<em class="ml-2"></em>Primbon</a>
			</li>  
			<li class="navo-item">
				<a href="/othermenu" class="navo-link"><i class="fa fa-plus-circle"></i>
					<em class="ml-2"></em>Other</a>
			</li>
		</ul>
	</div>
</div> 

<section class="py-5">

</section>

<section class="py-5 bg-dark">
<div class="container">
	<div class="row">
		<div class="mx-auto text-center">
			<h2 class="heading-black text-primary">Downloader Menu</h2>
			<p class="text-muted lead" style="font-style: italic;">List Downloader</p>
		</div>
	</div>
	<div class="row justify-content-center" style="font-size: 14px;">
		<div class="col-12">
			<div class="card">
				<div class="card-header">
					<h4 class="card-title">Features</h4>
				</div>
				<div class="card-body pt-2 text-center">
					<div style="overflow-x:auto !important;">
						<table class="table mb-0" style="width: 100% !important;">
							<thead class="text-primary">
								<tr>
									<th scope="col">API NAME</th>
									<th scope="col">PARAMETER</th>
									<th scope="col">STATUS</th>
									<th scope="col">INFORMATION</th>
									<th scope="col">ACTION</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>Youtube MP3</td>
									<td>url & apikey</td>
									<td><div class="text-primary">
										<i class="fas fa-check fa-sm"></i>
									</div></td>
									<td>Get Audio From Youtube</td>
									<td>
										<a class="btn btn-primary btn-sm" href="/api/ytmp3?url=https://www.youtube.com/watch?v=9JS47BC0WXc&apikey=<%= apikey %>" target="_blank">
											Try</a>
									</td>
								</tr>
								<tr>
									<td>Youtube MP4</td>
									<td>url & apikey</td>
									<td><div class="text-primary">
										<i class="fas fa-check fa-sm"></i>
									</div></td>
									<td>Get Video From Youtube</td>
									<td>
										<a class="btn btn-primary btn-sm" href="/api/ytmp4?url=https://www.youtube.com/watch?v=9JS47BC0WXc&apikey=<%= apikey %>" target="_blank">
											Try</a>
									</td>
								</tr>
								<tr>
									<td>Youtube Search</td>
									<td>query & apikey</td>
									<td><div class="text-primary">
										<i class="fas fa-check fa-sm"></i>
									</div></td>
									<td>Searching Youtube</td>
									<td>
										<a class="btn btn-primary btn-sm" href="/api/ytsearch?query=Aria%20Putra%20Pratama&apikey=<%= apikey %>" target="_blank">
											Try</a>
									</td>
								</tr>
		 						<tr>
									<td>Tiktok Downloader</td>
									<td>url & apikey</td>
									<td><div class="text-primary">
										<i class="fas fa-check fa-sm"></i>
									</div></td>
									<td>Tiktok Downloader With WM</td>
									<td>
										<a class="btn btn-primary btn-sm" href="/api/tiktokdl?url=https://vt.tiktok.com/ZSJE2ffo4&apikey=<%= apikey %>" target="_blank">
											Try</a>
									</td>
								</tr>
								<tr>
									<td>Youtube Play Audio</td>
									<td>query & apikey</td>
									<td><div class="text-primary">
										<i class="fas fa-check fa-sm"></i>
									</div></td>
									<td>Get Audio From Youtube</td>
									<td>
										<a class="btn btn-primary btn-sm" href="/api/ytplay?query=alone&apikey=<%= apikey %>" target="_blank">
											Try</a>
									</td>
								</tr>
								<tr>
								<td>Nomor hoki</td>
									<td>query&apikey</td>
									<td><div class="text-primary">
										<i class="fas fa-check fa-sm"></i>
									</div></td>
									<td>active</td>
									<td>
										<a class="btn btn-primary btn-sm" href="/api/no/hoki?query=085609217332&apikey=<%= apikey %>" target="_blank">
											Try</a>
									</td>
								</tr>
								<tr>
								<td>Pinterest Downloady/td>
									<td>query&apikey</td>
									<td><div class="text-primary">
										<i class="fas fa-check fa-sm"></i>
									</div></td>
									<td>active</td>
									<td>
										<a class="btn btn-primary btn-sm" href="/api/pindl?link=https://id.pinterest.com/pin/361906520063070744&apikey=<%= apikey %>" target="_blank">
											Try</a>
									</td>
								</tr>
								<tr>
								<td>SoundCloud</td>
									<td>query&apikey</td>
									<td><div class="text-primary">
										<i class="fas fa-check fa-sm"></i>
									</div></td>
									<td>active</td>
									<td>
										<a class="btn btn-primary btn-sm" href="/api/scdl?link=https://soundcloud.com/user-943750457/jang-ganggu-shine-of-black&apikey=<%= apikey %>" target="_blank">
											Try</a>
									</td>
								</tr>
								<tr>
								<td>Tiktokers V3</td>
									<td>query&apikey</td>
									<td><div class="text-primary">
										<i class="fas fa-check fa-sm"></i>
									</div></td>
									<td>active</td>
									<td>
										<a class="btn btn-primary btn-sm" href="/api/tiktokk?link=https://vm.tiktok.com/ZSJcLPNpe&apikey=<%= apikey %>" target="_blank">
											Try</a>
									</td>
								</tr>
								<tr>
								<td>Facebook download</td>
									<td>url&apikey</td>
									<td><div class="text-primary">
										<i class="fas fa-check fa-sm"></i>
									</div></td>
									<td>active</td>
									<td>
										<a class="btn btn-primary btn-sm" href="/api/fbdl?url=&apikey=<%= apikey %>" target="_blank">
											Try</a>
									</td>
								</tr>
								<tr>
									<td>Mediafire Downloader</td>
									<td>url & apikey</td>
									<td><div class="text-primary">
										<i class="fas fa-check fa-sm"></i>
									</div></td>
									<td>Download MediaFire</td>
									<td>
										<a class="btn btn-primary btn-sm" href="/api/mediafire?url=http://www.mediafire.com/file/js0gr2nozcmk9yg/example.txt/file&apikey=<%= apikey %>" target="_blank">
											Try</a>
									</td>
								</tr>
																<tr>
									<td>Mediafire Downloader V2</td>
									<td>url & apikey</td>
									<td><div class="text-primary">
										<i class="fas fa-check fa-sm"></i>
									</div></td>
									<td>Download MediaFire</td>
									<td>
										<a class="btn btn-primary btn-sm" href="/api/mediafire2?url=http://www.mediafire.com/file/js0gr2nozcmk9yg/example.txt/file&apikey=<%= apikey %>" target="_blank">
											Try</a>
									</td>
								</tr>
								<tr>
									<td>Shortlink TinyUrl</td>
									<td>url & apikey</td>
									<td><div class="text-primary">
										<i class="fas fa-check fa-sm"></i>
									</div></td>
									<td>Simple For Link</td>
									<td>
										<a class="btn btn-primary btn-sm" href="/api/tiny?url=xnxx.com&apikey=<%= apikey %>" target="_blank">
											Try</a>
									</td>
								</tr>
								<tr>									
									<td>Instagram Download</td>
									<td>username & apikey</td>
									<td><div class="text-primary">
										<i class="fas fa-check fa-sm"></i>
									</div></td>
									<td>IG DOWNLOADER</td>
									<td>
										<a class="btn btn-primary btn-sm" href="/api/ig/dl?url=https://www.instagram.com/p/CG4qI0aDoyP&apikey=<%= apikey %>" target="_blank">
											Try</a>
									</td>
								</tr>
								<tr>
								<td>Snaptik Tiktok</td>
									<td>url & apikey</td>
									<td><div class="text-primary">
										<i class="fas fa-check fa-sm"></i>
									</div></td>
									<td>Get Video From Tiktok</td>
									<td>
										<a class="btn btn-primary btn-sm" href="/api/snaptik?url=https://vt.tiktok.com/ZSe8jTLJV&apikey=<%= apikey %>" target="_blank">
											Try</a>
									</td>
								</tr>
								<tr>
								<td>Twitter</td>
									<td>url & apikey</td>
									<td><div class="text-primary">
										<i class="fas fa-check fa-sm"></i>
									</div></td>
									<td>Get Video From twitter</td>
									<td>
										<a class="btn btn-primary btn-sm" href="/api/twitter?url=https://twitter.com/futurism/status/882987478541533189&apikey=<%= apikey %>" target="_blank">
											Try</a>
									</td>
								</tr>
								<tr>																
								<td>Hero ml</td>
									<td>q& apikey</td>
									<td><div class="text-primary">
										<i class="fas fa-check fa-sm"></i>
									</div></td>
									<td>preview</td>
									<td>
										<a class="btn btn-primary btn-sm" href="/api/search/herodetail?q=domain&apikey=<%= apikey %>" target="_blank">
											Try</a>
									</td>
								</tr>
								<tr>								
								<td>ssweb</td>
									<td>url& apikey</td>
									<td><div class="text-primary">
										<i class="fas fa-check fa-sm"></i>
									</div></td>
									<td>screenshot</td>
									<td>
										<a class="btn btn-primary btn-sm" href="/api/ssweb?url=masukin_url&apikey=<%= apikey %>" target="_blank">
											Try</a>
									</td>
								</tr>
								<tr>
								<td>ig story</td>
									<td>username& apikey</td>
									<td><div class="text-primary">
										<i class="fas fa-check fa-sm"></i>
									</div></td>
									<td>story</td>
									<td>
										<a class="btn btn-primary btn-sm" href="/api/igstory?username=baimwong&apikey=<%= apikey %>" target="_blank">
											Try</a>
									</td>
								</tr>
								<tr>
								<td>Tiktok download v2</td>
									<td>url& apikey</td>
									<td><div class="text-primary">
										<i class="fas fa-check fa-sm"></i>
									</div></td>
									<td>wm no wm</td>
									<td>
										<a class="btn btn-primary btn-sm" href="/api/ttdl?url=masukan_link&apikey=<%= apikey %>" target="_blank">
											Try</a>
									</td>
								</tr>
								<tr>															
								<td>Linkwa</td>
									<td>query&apikey</td>
									<td><div class="text-primary">
										<i class="fas fa-check fa-sm"></i>
									</div></td>
									<td>linkwa</td>
									<td>
										<a class="btn btn-primary btn-sm" href="/api/linkwa?query=gabut&apikey=<%= apikey %>" target="_blank">
											Try</a>
									</td>
								</tr>
								<tr>
								<td>Tiktok Wm Nowm</td>
									<td>url&apikey</td>
									<td><div class="text-primary">
										<i class="fas fa-check fa-sm"></i>
									</div></td>
									<td>Wm no Wm</td>
									<td>
										<a class="btn btn-primary btn-sm" href="/api/ttdownloader?url=&apikey=<%= apikey %>" target="_blank">
											Try</a>
									</td>
								</tr>
								<tr>
								<td>Instagram Downloader</td>
									<td>url&apikey</td>
									<td><div class="text-primary">
										<i class="fas fa-check fa-sm"></i>
									</div></td>
									<td>ig downloader</td>
									<td>
										<a class="btn btn-primary btn-sm" href="/api/igdll?url=&apikey=<%= apikey %>" target="_blank">
											Try</a>
									</td>
								</tr>
								<tr>
									<td>Spamcall</td>
									<td>no & apikey</td>
									<td><div class="text-primary">
										<i class="fas fa-check fa-sm"></i>
									</div></td>
									<td>Spamcall Biasa</td>
									<td>
										<a class="btn btn-primary btn-sm" href="/api/spamcall?no=08956227290699&apikey=<%= apikey %>" target="_blank">
											Try</a>
									</td>
								</tr>
								<tr>									
								<td>ssweb</td>
									<td>url & apikey</td>
									<td><div class="text-primary">
										<i class="fas fa-check fa-sm"></i>
									</div></td>
									<td>ssweb</td>
									<td>
										<a class="btn btn-primary btn-sm" href="/api/ssweb?url=https://www.youtube.com/watch?v=9JS47BC0WXc&apikey=<%= apikey %>" target="_blank">
											Try</a>
									</td>
								</tr>
								<tr>																
								 </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <section class="py-4"></section>
        <div class="row">
            <div class="col-md-8 divider top-divider mx-auto pt-3">
            </div>
            <div class="mx-auto text-center">
                <h2 class="heading-black text-primary">Search Documentation</h2>
                <p class="text-muted lead" style="font-style: italic;">List Search API</p>
            </div>
        </div>
        <div class="row justify-content-center" style="font-size: 14px;">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Features</h4>
                    </div>
                    <div class="card-body pt-2 text-center">
                        <div style="overflow-x:auto !important;">
                            <table class="table mb-0" style="width: 100% !important;">
                                <thead class="text-primary">
                                    <tr>
                                        <th scope="col">API NAME</th>
                                        <th scope="col">PARAMETER</th>
                                        <th scope="col">STATUS</th>
                                        <th scope="col">INFORMATION</th>
                                        <th scope="col">ACTION</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                    <td>Hentai</td>
									<td>query& apikey</td>
									<td><div class="text-primary">
										<i class="fas fa-check fa-sm"></i>
									</div></td>
									<td>search</td>
									<td>
										<a class="btn btn-primary btn-sm" href="/api/hentaisearch?query=anal&apikey=<%= apikey %>" target="_blank">
											Try</a>
									</td>
								</tr>
								<tr>
								<td>Javhd</td>
									<td>query& apikey</td>
									<td><div class="text-primary">
										<i class="fas fa-check fa-sm"></i>
									</div></td>
									<td>search</td>
									<td>
										<a class="btn btn-primary btn-sm" href="/api/javhdd?query=anal&apikey=<%= apikey %>" target="_blank">
											Try</a>
									</td>
								</tr>
								<tr>
								<td>Joox Search</td>
									<td>query&apikey</td>
									<td><div class="text-primary">
										<i class="fas fa-check fa-sm"></i>
									</div></td>
									<td>active</td>
									<td>
										<a class="btn btn-primary btn-sm" href="/api/joox?query=sad&apikey=<%= apikey %>" target="_blank">
											Try</a>
									</td>
								</tr>
								<tr>
								<td>Amazon Search</td>
									<td>query&apikey</td>
									<td><div class="text-primary">
										<i class="fas fa-check fa-sm"></i>
									</div></td>
									<td>active</td>
									<td>
										<a class="btn btn-primary btn-sm" href="/api/amazon/search?query=&apikey=<%= apikey %>" target="_blank">
											Try</a>
									</td>
								</tr>
								<tr>
								<td>jav hd porn</td>
									<td>query& apikey</td>
									<td><div class="text-primary">
										<i class="fas fa-check fa-sm"></i>
									</div></td>
									<td>search</td>
									<td>
										<a class="btn btn-primary btn-sm" href="/api/javhdporn?query=anal&apikey=<%= apikey %>" target="_blank">
											Try</a>
									</td>
								</tr>
								<tr>
								<td>Kbbi Search</td>
									<td>text & apikey</td>
									<td><div class="text-primary">
										<i class="fas fa-check fa-sm"></i>
									</div></td>
									<td>Kbbi Search</td>
									<td>
										<a class="btn btn-primary btn-sm" href="/api/kbbi?text=anjing&apikey=<%= apikey %>" target="_blank">
											Try</a>
									</td>
								</tr>
								<tr>
								<td>Search tiktok</td>
									<td>query&apikey</td>
									<td><div class="text-primary">
										<i class="fas fa-check fa-sm"></i>
									</div></td>
									<td>active</td>
									<td>
										<a class="btn btn-primary btn-sm" href="/api/search/tiktok?query=bts.rv&apikey=<%= apikey %>" target="_blank">
											Try</a>
									</td>
								</tr>
								<tr>
								<td>Search Zero</td>
									<td>query&apikey</td>
									<td><div class="text-primary">
										<i class="fas fa-check fa-sm"></i>
									</div></td>
									<td>active</td>
									<td>
										<a class="btn btn-primary btn-sm" href="/api/search/zero?query=&apikey=<%= apikey %>" target="_blank">
											Try</a>
									</td>
								</tr>
								<tr>
								<td>Sticker Search</td>
									<td>text&apikey</td>
									<td><div class="text-primary">
										<i class="fas fa-check fa-sm"></i>
									</div></td>
									<td>active</td>
									<td>
										<a class="btn btn-primary btn-sm" href="/api/search/stickerpack?query=patrick&apikey=<%= apikey %>" target="_blank">
											Try</a>
									</td>
								</tr>
								<tr>
									<td>Pornhub Search</td>
									<td>query&apikey</td>
									<td><div class="text-primary">
										<i class="fas fa-check fa-sm"></i>
									</div></td>
									<td>active</td>
									<td>
										<a class="btn btn-primary btn-sm" href="/api/phub?query=mom&apikey=<%= apikey %>" target="_blank">
											Try</a>
									</td>
								</tr>
								<tr>
								<td>Xnxx Search</td>
									<td>query&apikey</td>
									<td><div class="text-primary">
										<i class="fas fa-check fa-sm"></i>
									</div></td>
									<td>active</td>
									<td>
										<a class="btn btn-primary btn-sm" href="/api/xnxx?query=mom&apikey=<%= apikey %>" target="_blank">
											Try</a>
									</td>
								</tr>
								<tr>
								<td>Xvideos search</td>
									<td>query&apikey</td>
									<td><div class="text-primary">
										<i class="fas fa-check fa-sm"></i>
									</div></td>
									<td>active</td>
									<td>
										<a class="btn btn-primary btn-sm" href="/api/xvideo?query=mom&apikey=<%= apikey %>" target="_blank">
											Try</a>
									</td>
								</tr>
								<tr>	
                                    <td>Paling murah</td>
									<td>query & apikey</td>
									<td><div class="text-primary">
										<i class="fas fa-check fa-sm"></i>
									</div></td>
									<td>search</td>
									<td>
										<a class="btn btn-primary btn-sm" href="/api/search/palingmurah?query=domain&apikey=<%= apikey %>" target="_blank">
											Try</a>
									</td>
								</tr>
								<tr>
								<td>Layar Kaca</td>
									<td>query & apikey</td>
									<td><div class="text-primary">
										<i class="fas fa-check fa-sm"></i>
									</div></td>
									<td>search</td>
									<td>
										<a class="btn btn-primary btn-sm" href="/api/search/layarkaca?query=3 idiot&apikey=<%= apikey %>" target="_blank">
											Try</a>
									</td>
								</tr>
								<tr>
								<td>amino</td>
									<td>query & apikey</td>
									<td><div class="text-primary">
										<i class="fas fa-check fa-sm"></i>
									</div></td>
									<td>search</td>
									<td>
										<a class="btn btn-primary btn-sm" href="/api/search/amino?query=domain&apikey=<%= apikey %>" target="_blank">
											Try</a>
									</td>
								</tr>
								<tr>								
								<td>Google Search</td>
									<td>q & apikey</td>
									<td><div class="text-primary">
										<i class="fas fa-check fa-sm"></i>
									</div></td>
									<td>Serching Google</td>
									<td>
										<a class="btn btn-primary btn-sm" href="/api/google?q=Kapan%20indonesia%20Merdeka&apikey=<%= apikey %>" target="_blank">
											Try</a>
									</td>
								</tr>
								<tr>
								<td>Shoppe Search</td>
									<td>query&apikey</td>
									<td><div class="text-primary">
										<i class="fas fa-check fa-sm"></i>
									</div></td>
									<td>shopee search</td>
									<td>
										<a class="btn btn-primary btn-sm" href="/api/search/shopee?query=&apikey==<%= apikey %>" target="_blank">
											Try</a>
									</td>
								</tr>
								<tr>
								<td>Pinterest search</td>
									<td>apikey</td>
									<td><div class="text-primary">
										<i class="fas fa-check fa-sm"></i>
									</div></td>
									<td>pinterest search</td>
									<td>
										<a class="btn btn-primary btn-sm" href="/api//search/pinterest?query=&apikey=<%= apikey %>" target="_blank">
											Try</a>
									</td>
								</tr>
								<tr>
								<td>Anime Info</td>
									<td>query&apikey</td>
									<td><div class="text-primary">
										<i class="fas fa-check fa-sm"></i>
									</div></td>
									<td>active</td>
									<td>
										<a class="btn btn-primary btn-sm" href="/api/anime/info?query=mom&apikey=<%= apikey %>" target="_blank">
											Try</a>
									</td>
								</tr>
								<tr>
								<td>Gsmarena search</td>
									<td>query&apikey</td>
									<td><div class="text-primary">
										<i class="fas fa-check fa-sm"></i>
									</div></td>
									<td>gsmarena</td>
									<td>
										<a class="btn btn-primary btn-sm" href="/api/search/gsmarena?query=poco&apikey=<%= apikey %>" target="_blank">
											Try</a>
									</td>
								</tr>
								<tr>
								 </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <section class="py-4"></section>
        <div class="row">
            <div class="col-md-8 divider top-divider mx-auto pt-3">
            </div>
            <div class="mx-auto text-center">
                <h2 class="heading-black text-primary">STALK Documentation</h2>
                <p class="text-muted lead" style="font-style: italic;">List STALK API</p>
            </div>
        </div>
        <div class="row justify-content-center" style="font-size: 14px;">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Features</h4>
                    </div>
                    <div class="card-body pt-2 text-center">
                        <div style="overflow-x:auto !important;">
                            <table class="table mb-0" style="width: 100% !important;">
                                <thead class="text-primary">
                                    <tr>
                                        <th scope="col">API NAME</th>
                                        <th scope="col">PARAMETER</th>
                                        <th scope="col">STATUS</th>
                                        <th scope="col">INFORMATION</th>
                                        <th scope="col">ACTION</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                    <td>Github Stalker</td>
									<td>username & apikey</td>
									<td><div class="text-primary">
										<i class="fas fa-check fa-sm"></i>
									</div></td>
									<td>Github Stalk</td>
									<td>
										<a class="btn btn-primary btn-sm" href="/api/githubstalk?username=iniariaaa&apikey=<%= apikey %>" target="_blank">
											Try</a>
									</td>
								</tr>
								<td>Tiktok Stalk</td>
									<td>username & apikey</td>
									<td><div class="text-primary">
										<i class="fas fa-check fa-sm"></i>
									</div></td>
									<td>Stalk Account Tiktok</td>
									<td>
										<a class="btn btn-primary btn-sm" href="/api/tiktok/stalk?username=satria&apikey=<%= apikey %>" target="_blank">
											Try</a>
									</td>
								</tr>
								<tr>
								<td>Instagram Stalker2</td>
									<td>username & apikey</td>
									<td><div class="text-primary">
										<i class="fas fa-check fa-sm"></i>
									</div></td>
									<td>Stalk Account Instagram</td>
									<td>
										<a class="btn btn-primary btn-sm" href="/api/igstalkk?username=call.me.ido&apikey=<%= apikey %>" target="_blank">
											Try</a>
									</td>
								</tr>
								<tr>
								<td>Instagram Stalker</td>
									<td>username & apikey</td>
									<td><div class="text-primary">
										<i class="fas fa-check fa-sm"></i>
									</div></td>
									<td>Stalk Account Instagram</td>
									<td>
										<a class="btn btn-primary btn-sm" href="/api/ig/stalk?username=ini.aria&apikey=<%= apikey %>" target="_blank">
											Try</a>
									</td>
								</tr>
								<tr>
								<td>stalk pinterest</td>
									<td>query & apikey</td>
									<td><div class="text-primary">
										<i class="fas fa-check fa-sm"></i>
									</div></td>
									<td>stalk pinterest</td>
									<td>
										<a class="btn btn-primary btn-sm" href="/api/stalk/pinterest?query=japan&apikey=<%= apikey %>" target="_blank">
											Try</a>
									</td>
								</tr>
								<tr>
								<td>Youtube Stalk</td>
									<td>query&apikey</td>
									<td><div class="text-primary">
										<i class="fas fa-check fa-sm"></i>
									</div></td>
									<td>active</td>
									<td>
										<a class="btn btn-primary btn-sm" href="/api/ytstalkk?query=cahwiguna&apikey=<%= apikey %>" target="_blank">
											Try</a>
									</td>
								</tr>
								<tr>
								<td>IG STALK</td>
									<td>text&apikey</td>
									<td><div class="text-primary">
										<i class="fas fa-check fa-sm"></i>
									</div></td>
									<td>active</td>
									<td>
										<a class="btn btn-primary btn-sm" href="/api/igstalkk?query=call.me.ido&apikey=<%= apikey %>" target="_blank">
											Try</a>
									</td>
								</tr>
								<tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</section>
