<div class="container">
	<div class="navbaro">
		<div class="hamburger-menu">
			<div class="line line-1 text-primary"></div>
			<div class="line line-2"></div>
			<div class="line line-3"></div>
		</div>
		<ul class="navo-list">
			<li class="navo-item">
				<a href="/downloadmenu" class="navo-link"><i class="fas fa-download"></i>
					<em class="ml-2"></em>Downloader</a>
			</li>
			<li class="navo-item">
                    <a href="/animemenu" class="navo-link"><i class="fas fa-cat"></i>
                        <em class="ml-2"></em>Anime Menu</a>
                </li>
			<li class="navo-item">
				<a href="/randommenu" class="navo-link"><i class="fas fa-random"></i>
					<em class="ml-2"></em>Random</a>
			</li>
			<li class="navo-item">
				<a href="/makermenu" class="navo-link"><i class="far fa-image"></i>
					<em class="ml-2"></em>Photooxy/Textpro</a>
			</li>
			<li class="navo-item">
				<a href="/primbonmenu" class="navo-link"><i class="far fa-smile"></i>
					<em class="ml-2"></em>Primbon</a>
			</li>  
			<li class="navo-item">
				<a href="/othermenu" class="navo-link"><i class="fa fa-plus-circle"></i>
					<em class="ml-2"></em>Other</a>
					<li class="navo-item">
				<a href="/sfwmenu" class="navo-link"><i class="fa fa-plus-circle"></i>
					<em class="ml-2"></em>sfw</a>
			</li>
		</ul>
	</div>
</div> 
        <section class="py-4"></section>
        <div class="row">
            <div class="col-md-8 divider top-divider mx-auto pt-3">
            </div>
            <div class="mx-auto text-center">
                <h2 class="heading-black text-primary">Gacha Anime Documentation</h2>
                <p class="text-muted lead" style="font-style: italic;">List Gacha anime API</p>
            </div>
        </div>
        <div class="row justify-content-center" style="font-size: 14px;">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Features</h4>
                    </div>
                    <div class="card-body pt-2 text-center">
                        <div style="overflow-x:auto !important;">
                            <table class="table mb-0" style="width: 100% !important;">
                                <thead class="text-primary">
                                    <tr>
                                        <th scope="col">API NAME</th>
                                        <th scope="col">PARAMETER</th>
                                        <th scope="col">STATUS</th>
                                        <th scope="col">INFORMATION</th>
                                        <th scope="col">ACTION</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>itori</td>
                                        <td>text & apikey</td>
                                        <td><div class="text-primary">
                                            <i class="fas fa-check fa-sm"></i>
                                        </div></td>
                                        <td>itori</td>
                                        <td>
                                            <a class="btn btn-primary btn-sm" href="/api/itori?apikey=<%= apikey %>" target="_blank">
                                                Try</a>
                                        </td>
                                    </tr>
                                    <tr>
                                      <td>emilia</td>
                                        <td>text & apikey</td>
                                        <td><div class="text-primary">
                                            <i class="fas fa-check fa-sm"></i>
                                        </div></td>
                                        <td>emilia</td>
                                        <td>
                                            <a class="btn btn-primary btn-sm" href="/api/emilia?apikey=<%= apikey %>" target="_blank">
                                                Try</a>
                                        </td>
                                    </tr>
                                    <tr>
                                     <td>erza</td>
                                        <td>apikey</td>
                                        <td><div class="text-primary">
                                            <i class="fas fa-check fa-sm"></i>
                                        </div></td>
                                        <td>erza</td>
                                        <td>
                                            <a class="btn btn-primary btn-sm" href="/api/erza?apikey=<%= apikey %>" target="_blank">
                                                Try</a>
                                        </td>
                                    </tr>
                                    <tr>   
                                           <td>ayuzawa</td>
                                        <td>apikey</td>
                                        <td><div class="text-primary">
                                            <i class="fas fa-check fa-sm"></i>
                                        </div></td>
                                        <td>emilia</td>
                                        <td>
                                            <a class="btn btn-primary btn-sm" href="/api/emilia?apikey=<%= apikey %>" target="_blank">
                                                Try</a>
                                        </td>
                                    </tr>
                                    <tr>   
                                           <td>ayuzawa</td>
                                        <td>apikey</td>
                                        <td><div class="text-primary">
                                            <i class="fas fa-check fa-sm"></i>
                                        </div></td>
                                        <td>ayuzawa</td>
                                        <td>
                                            <a class="btn btn-primary btn-sm" href="/api/ayuzawa?apikey=<%= apikey %>" target="_blank">
                                                Try</a>
                                        </td>
                                    </tr>
                                    <tr>   
                                           <td>ana</td>
                                        <td>apikey</td>
                                        <td><div class="text-primary">
                                            <i class="fas fa-check fa-sm"></i>
                                        </div></td>
                                        <td>ana</td>
                                        <td>
                                            <a class="btn btn-primary btn-sm" href="/api/ana?apikey=<%= apikey %>" target="_blank">
                                                Try</a>
                                        </td>
                                    </tr>
                                    <tr>   
                                          <td>kurumi</td>
                                        <td>apikey</td>
                                        <td><div class="text-primary">
                                            <i class="fas fa-check fa-sm"></i>
                                        </div></td>
                                        <td>kurumi</td>
                                        <td>
                                            <a class="btn btn-primary btn-sm" href="/api/kurumi?apikey=<%= apikey %>" target="_blank">
                                                Try</a>
                                        </td>
                                    </tr>
                                    <tr>   
                                         <td>megumin</td>
                                        <td>apikey</td>
                                        <td><div class="text-primary">
                                            <i class="fas fa-check fa-sm"></i>
                                        </div></td>
                                        <td>megumin</td>
                                        <td>
                                            <a class="btn btn-primary btn-sm" href="/api/megumin?apikey=<%= apikey %>" target="_blank">
                                                Try</a>
                                        </td>
                                    </tr>
                                    <tr>   
                                          <td>mikasa</td>
                                        <td>apikey</td>
                                        <td><div class="text-primary">
                                            <i class="fas fa-check fa-sm"></i>
                                        </div></td>
                                        <td>mikasa</td>
                                        <td>
                                            <a class="btn btn-primary btn-sm" href="/api/mikasa?apikey=<%= apikey %>" target="_blank">
                                                Try</a>
                                        </td>
                                    </tr>
                                    <tr>   
                                          <td>miku</td>
                                        <td>apikey</td>
                                        <td><div class="text-primary">
                                            <i class="fas fa-check fa-sm"></i>
                                        </div></td>
                                        <td>miku</td>
                                        <td>
                                            <a class="btn btn-primary btn-sm" href="/api/miku?apikey=<%= apikey %>" target="_blank">
                                                Try</a>
                                        </td>
                                    </tr>
                                    <tr>   
                                     <td>minato</td>
                                        <td>text & apikey</td>
                                        <td><div class="text-primary">
                                            <i class="fas fa-check fa-sm"></i>
                                        </div></td>
                                        <td>minato</td>
                                        <td>
                                            <a class="btn btn-primary btn-sm" href="/api/minato?apikey=<%= apikey %>" target="_blank">
                                                Try</a>
                                        </td>
                                    </tr>
                                    <tr>   
                                     <td>onepiece</td>
                                        <td>apikey</td>
                                        <td><div class="text-primary">
                                            <i class="fas fa-check fa-sm"></i>
                                        </div></td>
                                        <td>onepiece</td>
                                        <td>
                                            <a class="btn btn-primary btn-sm" href="/api/onepiece?apikey=<%= apikey %>" target="_blank">
                                                Try</a>
                                        </td>
                                    </tr>
                                    <tr>   
                                     <td>sagiri</td>
                                        <td>apikey</td>
                                        <td><div class="text-primary">
                                            <i class="fas fa-check fa-sm"></i>
                                        </div></td>
                                        <td>sagiri</td>
                                        <td>
                                            <a class="btn btn-primary btn-sm" href="/api/sagiri?apikey=<%= apikey %>" target="_blank">
                                                Try</a>
                                        </td>
                                    </tr>
                                    <tr>
                                       <td>sasuke</td>
                                        <td>apikey</td>
                                        <td><div class="text-primary">
                                            <i class="fas fa-check fa-sm"></i>
                                        </div></td>
                                        <td>sasuke</td>
                                        <td>
                                            <a class="btn btn-primary btn-sm" href="/api/sasuke?apikey=<%= apikey %>" target="_blank">
                                                Try</a>
                                        </td>
                                    </tr>
                                    <tr>   
                                           <td>shina</td>
                                        <td>apikey</td>
                                        <td><div class="text-primary">
                                            <i class="fas fa-check fa-sm"></i>
                                        </div></td>
                                        <td>shina</td>
                                        <td>
                                            <a class="btn btn-primary btn-sm" href="/api/shina?apikey=<%= apikey %>" target="_blank">
                                                Try</a>
                                        </td>
                                    </tr>
                                    <tr>   
                                           <td>shinka</td>
                                        <td>apikey</td>
                                        <td><div class="text-primary">
                                            <i class="fas fa-check fa-sm"></i>
                                        </div></td>
                                        <td>shinka</td>
                                        <td>
                                            <a class="btn btn-primary btn-sm" href="/api/shinka?apikey=<%= apikey %>" target="_blank">
                                                Try</a>
                                        </td>
                                    </tr>
                                    <tr>   
                                           <td>yuki</td>
                                        <td>apikey</td>
                                        <td><div class="text-primary">
                                            <i class="fas fa-check fa-sm"></i>
                                        </div></td>
                                        <td>yuki</td>
                                        <td>
                                            <a class="btn btn-primary btn-sm" href="/api/yuki?apikey=<%= apikey %>" target="_blank">
                                                Try</a>
                                        </td>
                                    </tr>
                                    <tr>   
                                          <td>shota</td>
                                        <td>apikey</td>
                                        <td><div class="text-primary">
                                            <i class="fas fa-check fa-sm"></i>
                                        </div></td>
                                        <td>shota</td>
                                        <td>
                                            <a class="btn btn-primary btn-sm" href="/api/shota?apikey=<%= apikey %>" target="_blank">
                                                Try</a>
                                        </td>
                                    </tr>
                                    <tr>   
                                         <td>gremory</td>
                                        <td>apikey</td>
                                        <td><div class="text-primary">
                                            <i class="fas fa-check fa-sm"></i>
                                        </div></td>
                                        <td>gremory</td>
                                        <td>
                                            <a class="btn btn-primary btn-sm" href="/api/gremory?apikey=<%= apikey %>" target="_blank">
                                                Try</a>
                                        </td>
                                    </tr>
                                    <tr>   
                                          <td>hestia</td>
                                        <td>apikey</td>
                                        <td><div class="text-primary">
                                            <i class="fas fa-check fa-sm"></i>
                                        </div></td>
                                        <td>hestia</td>
                                        <td>
                                            <a class="btn btn-primary btn-sm" href="/api/hestia?apikey=<%= apikey %>" target="_blank">
                                                Try</a>
                                        </td>
                                    </tr>
                                    <tr>   
                                          <td>naruto</td>
                                        <td>apikey</td>
                                        <td><div class="text-primary">
                                            <i class="fas fa-check fa-sm"></i>
                                        </div></td>
                                        <td>naruto</td>
                                        <td>
                                            <a class="btn btn-primary btn-sm" href="/api/naruto?apikey=<%= apikey %>" target="_blank">
                                                Try</a>
                                        </td>
                                    </tr>
                                    <tr>   
                                     <td>rize</td>
                                        <td>apikey</td>
                                        <td><div class="text-primary">
                                            <i class="fas fa-check fa-sm"></i>
                                        </div></td>
                                        <td>rize</td>
                                        <td>
                                            <a class="btn btn-primary btn-sm" href="/api/rize?apikey=<%= apikey %>" target="_blank">
                                                Try</a>
                                        </td>
                                    </tr>
                                    <tr>   
                                     <td>nezuko</td>
                                        <td>apikey</td>
                                        <td><div class="text-primary">
                                            <i class="fas fa-check fa-sm"></i>
                                        </div></td>
                                        <td>nezuko</td>
                                        <td>
                                            <a class="btn btn-primary btn-sm" href="/api/nezuko?apikey=<%= apikey %>" target="_blank">
                                                Try</a>
                                        </td>
                                    </tr>
                                    <tr>   
                                     <td>tsunade</td>
                                        <td>apikey</td>
                                        <td><div class="text-primary">
                                            <i class="fas fa-check fa-sm"></i>
                                        </div></td>
                                        <td>tsunade</td>
                                        <td>
                                            <a class="btn btn-primary btn-sm" href="/api/tsunade?apikey=<%= apikey %>" target="_blank">
                                                Try</a>
                                        </td>
                                    </tr>
                                    <tr>
                                       <td>neko</td>
                                        <td>apikey</td>
                                        <td><div class="text-primary">
                                            <i class="fas fa-check fa-sm"></i>
                                        </div></td>
                                        <td>neko</td>
                                        <td>
                                            <a class="btn btn-primary btn-sm" href="/api/neko?apikey=<%= apikey %>" target="_blank">
                                                Try</a>
                                        </td>
                                    </tr>
                                    <tr>   
                                           <td>nekonisme</td>
                                        <td>apikey</td>
                                        <td><div class="text-primary">
                                            <i class="fas fa-check fa-sm"></i>
                                        </div></td>
                                        <td>nekonismd</td>
                                        <td>
                                            <a class="btn btn-primary btn-sm" href="/api/nekonisme?apikey=<%= apikey %>" target="_blank">
                                                Try</a>
                                        </td>
                                    </tr>
                                    <tr>   
                                           <td>chitoge</td>
                                        <td> apikey</td>
                                        <td><div class="text-primary">
                                            <i class="fas fa-check fa-sm"></i>
                                        </div></td>
                                        <td>chitoge</td>
                                        <td>
                                            <a class="btn btn-primary btn-sm" href="/api/chitoge?apikey=<%= apikey %>" target="_blank">
                                                Try</a>
                                        </td>
                                    </tr>
                                    <tr>   
                                           <td>waifu</td>
                                        <td>apikey</td>
                                        <td><div class="text-primary">
                                            <i class="fas fa-check fa-sm"></i>
                                        </div></td>
                                        <td>waifu</td>
                                        <td>
                                            <a class="btn btn-primary btn-sm" href="/api/waifu?apikey=<%= apikey %>" target="_blank">
                                                Try</a>
                                        </td>
                                    </tr>
                                    <tr>                                            
                                        <td>isuzu</td>
                                        <td>apikey</td>
                                        <td><div class="text-primary">
                                            <i class="fas fa-check fa-sm"></i>
                                        </div></td>
                                        <td>isuzu</td>
                                        <td>
                                            <a class="btn btn-primary btn-sm" href="/api/isuzu?apikey=<%= apikey %>" target="_blank">
                                                Try</a>
                                        </td>
                                    </tr>              
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>
